body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
}

.main-info {
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .chart-container {
        width: 75%;
        margin: 20px;
    }
}

.info-card {
    width: 25%;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #0681c4, #8410ffb1);
    color: white;

    .info-card-content p {
        margin: 10px 0;
    }
}

.rate-currency {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    .info-rate-currency {
        width: 50%;
    }
}
