body {
    font-family: Arial, sans-serif;
}

.info-card {
    margin: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #0681c4, #8410ffb1);
    color: white;

    .info-card-content p {
        margin: 10px 0;
    }
}
